nav {
  background: linear-gradient(90deg, #6c17f4 , #6c17f4, #f5ef42);
}

body {
  background-color: #6c17f4;
}

h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: 180px;
  object-fit: cover;
}

.container.my-5 .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; 
    height: auto;
}


.events-section {
  margin-top: 80px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card {
  transition: transform 0.3s ease;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.event-date {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 20px;
  padding: 8px 20px;
}